.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.bgimg {
    z-index: 0;
    opacity: 0.15;
}

.text {
    position: relative;
    z-index: 1;
}

.infoCard {
    background-color: rgb(30 41 59);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    width: auto;
}


@media only screen and (min-width: 768px) {
    .container {
        padding: 0 3rem;
    }

    .imgContainer {
        display: flex;
    }

    .detailContainer, .creaters {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 992px) {

    .bodyContainer {
        display: flex;
    }

    .creaters {
        display: flex;
    }
}

